---
import ExampleList from '../components/ExampleList';
import ExamplePage from '../components/ExamplePage';

const { title } = Astro.props;
---

<html>
  <head>
    <title>{title} | TypeGPU</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.svg">
    <style is:global>
        @font-face {
            font-family: 'Aeonik';
            src: url('/fonts/Aeonik-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Aeonik';
            src: url('/fonts/Aeonik-Medium.otf') format('opentype');
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }
    </style>
  </head>
  <body class="bg-grayscale-20">
    <div class="flex h-screen p-4 gap-4">
      <aside class="flex flex-col bg-grayscale-0 rounded-2xl w-[18.75rem] p-5 gap-5">
        <header>
          <div class="flex items-center justify-center">
            <a
              href="/"
              class="block cursor-pointer"
            >
              <img class="my-7" src="/typegpu-logo-light.svg" alt="TypeGPU Logo" />
            </a>
          </div>

          <hr/>

          <div class="grid gap-6 py-7">
            <h1 class="font-medium text-xl">Welcome to examples page</h1>
            <p class="text-sm">Test out the power of our TypeScript library and get to know TypeGPU.</p>
            <div class="bg-gradient-to-r from-gradient-purple-dark to-gradient-blue-dark bg-clip-text text-transparent">
              <a class="underline text-sm">Learn more about TypeGPU here</a>
            </div>
          </div>
        </header>

        <hr/>

        <ExampleList client:only="react" />

        <div class="flex justify-between text-grayscale-60 text-xs">
          <div>&copy; 2024 Software Mansion S.A.</div>
          <a href="https://github.com/software-mansion/TypeGPU"><img src="/assets/github-icon.svg"></a>
        </div>
      </aside>
      <ExamplePage client:only="react" />
    </div>
  </body>
</html>