---
import '../fonts/font-face.css';
import '../tailwind.css';
const { title, theme = 'light' } = Astro.props;
---

<html data-theme={theme}>
  <head>
    <title>{title ?? 'TypeGPU'}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/TypeGPU/favicon.svg" />
    <link rel="sitemap" href="/TypeGPU/sitemap-index.xml" />
    <style is:global>
      .bg-blurred-radial-purple {
        background: radial-gradient(closest-side, #f5f2fe, #5f25f100);
      }

      .bg-blurred-radial-tameplum {
        background: radial-gradient(closest-side, #efeff9, #5f25f100);
      }

      .monaco-editor,
      .overflow-guard {
        border-radius: 0 0.5rem 0.5rem 0.5rem;
      }

      @layer base {
        h1 {
          margin: 0;
          font-size: 1.4375rem;
          line-height: 130%;
        }
        @screen md {
          h1 { font-size: 2.5rem; }
        }
        @screen lg {
          h1 { font-size: 3.25rem; }
        }

        h2 {
          margin: 0;
          font-size: 1.375rem;
          line-height: 130%;
        }
        @screen md {
          h2 { font-size: 2.125rem; }
        }
        @screen lg {
          h2 { font-size: 3rem; }
        }

        h3 {
          margin: 0;
          font-size: 1.25rem;
          line-height: 140%;
        }
        @screen md {
          h3 { font-size: 1.5rem; }
        }
        @screen lg {
          h3 { font-size: 2.125rem; }
        }

        p {
          margin: 0;
          font-size: 1rem;
          line-height: 150%;
        }
        @screen md {
          p { font-size: 1.25rem; }
        }
        @screen lg {
          p { font-size: 1.5rem; }
        }

        .text-micro {
          font-size: 0.75rem;
          line-height: 160%;
        }
        @screen md {
          .text-micro { font-size: 0.875rem; }
        }
        @screen lg {
          .text-micro { font-size: 1rem; }
        }
      }

      body {
        margin: 0;
      }

      [data-theme='dark'] body {
        background-color: #171724;
        color: white;
      }

      [data-theme='light'] body {
        background-color: white;
      }

      input[type="color"]::-webkit-color-swatch {
        border: none;
      }
      
      input[type="color"]::-moz-color-swatch  {
        border: none;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
