@import 'tailwindcss';

button,
input {
  font-family: inherit;
}

.sl-badge {
  font-size: 0.75rem !important;
  color: rgb(164, 137, 255);
  position: relative;
  top: -1px;
}

.sl-badge:is([data-theme='light'] *) {
  background-color: white;
  color: var(--sl-badge-default-border);
  font-weight: normal !important;
}

a[aria-current='page'] > .sl-badge:is([data-theme='light'] *) {
  background-color: rgba(255, 255, 255, 0.6);
  color: var(--sl-badge-default-border);
}
