---
import { Image } from "astro:assets";
import PageLayout from "../../layouts/PageLayout.astro";
import TranslatorApp from "../../components/translator/TranslatorApp";
import TypeGPULogoDark from "../../assets/typegpu-logo-dark.svg";
---

<PageLayout title="WGSL Translator | TypeGPU" theme="dark">
    <h1 class="w-full flex items-center justify-center mb-6 pt-4">
        <a href="/TypeGPU">
            <Image
                src={TypeGPULogoDark}
                alt="TypeGPU Logo"
                class="w-40 relative"
            />
        </a>
        <p class="text-lg font-sans text-gray-300">— translator</p>
    </h1>

    <TranslatorApp client:only="react" />
</PageLayout>
