---
import VanillaSidebar from '@astrojs/starlight/components/Sidebar.astro';
---

<div class="md:sl-hidden">
  <a href="/TypeGPU/examples">Live Examples</a>
</div>
<div class="md:sl-hidden">
  <a href="/TypeGPU/blog">Blog</a>
</div>
<VanillaSidebar />

<style>
  div a {
    color: var(--sl-color-white);
    font-size: var(--sl-text-lg);
    font-weight: 600;
    text-decoration: none;
    display: block;
  }
</style>
