---
import VanillaSidebar from '@astrojs/starlight/components/Sidebar.astro';
import AcademySignupPopover from '../academy/AcademySignupPopover.astro';
import AcademyLogo from './typegpu-academy-logomark.svg';
---

<div class="md:sl-hidden">
  <a href="/TypeGPU/getting-started">Docs</a>
</div>
<div class="md:sl-hidden">
  <a href="/TypeGPU/examples">Examples</a>
</div>
<AcademySignupPopover>
  <div class="md:sl-hidden">
    <a href="/TypeGPU/getting-started">
      <AcademyLogo width={20} height={20} aria-hidden="true" />
      Academy
    </a>
  </div>
</AcademySignupPopover>
<div class="md:sl-hidden">
  <a href="/TypeGPU/blog">Blog</a>
</div>

<VanillaSidebar />

<style>
  div {
    padding: 0 1rem;
  }

  div a {
    color: var(--sl-color-white);
    font-size: var(--sl-text-md);
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }
</style>
