---
import { ViewTransitions } from "astro:transitions";
import ExampleList from '../components/ExampleList';
import ExamplePage from '../components/ExamplePage';

const { title } = Astro.props;
---

<html>
  <head>
    <ViewTransitions />
    <title>{title} | TypeGPU</title>
  </head>
  <body>
    <div class="flex h-screen">
      <aside class="flex flex-col min-w-64">
        <header class="px-6 h-16 flex items-center">
          <a
            href="/"
            class="block cursor-pointer"
          >
            <img class="h-10" src="/typegpu-logo-light.svg" alt="Wigsill Logo" />
        </a>
        </header>
        <ExampleList client:only="react" />
      </aside>
      <ExamplePage client:only="react" />
    </div>
  </body>
</html>