---
import { Image } from 'astro:assets';
import PageLayout from '../../layouts/PageLayout.astro';
import BenchmarkApp from './benchmark-app.tsx';
import TypeGPULogoDark from '../../assets/typegpu-logo-dark.svg';
---

<PageLayout title="Benchmark | TypeGPU" forceTheme="dark">
  <h1 class="flex w-full items-center justify-center">
    <Image src={TypeGPULogoDark} alt="TypeGPU Logo" class="relative w-40" />
    <p class="font-sans text-lg">— benchmark</p>
  </h1>

  <BenchmarkApp client:only="react" />
</PageLayout>
