---
import FeatureCard from '../components/FeatureCard.astro';
import GetStartedButton from '../components/GetStartedButton.astro';
import FooterLink from '../components/FooterLink.astro';
import PageLayout from '../layouts/PageLayout.astro';
import DiscordIconSvg from '../assets/discord-icon.svg';
import GithubIconSvg from '../assets/github-icon.svg';
import SwmLogomarkSvg from '../assets/swm-logomark.svg';
import SwmLogoSvg from '../assets/swm-logo.svg';
---

<PageLayout>
  <main
    class="flex flex-col items-center bg-tameplum-50 lg:gap-[7.5rem] gap-10 md:gap-20">
    <section
      class="relative self-stretch flex flex-col items-center justify-between bg-grayscale-0 md:rounded-b-[5rem] rounded-b-[2.5rem] md:gap-0 gap-10 md:pb-[22.5rem] lg:pb-[30rem] md:max-h-[125vh]">
      <header
        class="self-stretch flex-shrink-0 h-20 sm:h-24 md:h-32 lg:h-44 flex justify-between items-center px-4 sm:px-[1.875rem] md:px-10 lg:px-[3.125rem]">
        <a href="https://swmansion.com" target="_blank" rel="noreferrer">
          <img
            src={SwmLogoSvg.src}
            class="h-10 opacity-75 lg:h-20 md:h-16 sm:h-12"
            alt="Software Mansion Logo"
          />
        </a>

        <div class="flex items-center gap-4">
          <a
            href="https://discord.swmansion.com"
            target="_blank"
            rel="noreferrer">
            <img
              src={DiscordIconSvg.src}
              class="h-6 opacity-75 md:h-10 sm:h-8"
              alt="Discord Logo"
            />
          </a>
          <a
            href="https://github.com/software-mansion/TypeGPU"
            target="_blank"
            rel="noreferrer">
            <img
              src={GithubIconSvg.src}
              class="h-6 opacity-75 md:h-10 sm:h-8"
              alt="GitHub Logo"
            />
          </a>
        </div>
      </header>

      <div
        class="z-10 relative isolate flex flex-col justify-center px-4 gap-10 lg:max-h-[34.25rem] md:max-h-[28rem] items-center max-w-7xl lg:min-h-[40vh]">
        <div class="absolute inset-0 bg-blurred-radial-purple -z-10">
          {/* Blurred background */}
        </div>
        <img
          src="/typegpu/typegpu-logo-light.svg"
          alt="TypeGPU Logo"
          class="w-[14.5rem] md:w-[20rem] lg:w-[24rem]"
        />
        <h1 class="text-center text-pretty mb-4">
          TypeScript library that enhances the WebGPU <br
            class="hidden sm:block"
          /> API, allowing resource management in <br class="hidden sm:block" />
          a type-safe, declarative way.
        </h1>

        <div
          class="flex flex-col items-center justify-center w-full gap-4 lg:gap-10 sm:flex-row">
          <GetStartedButton />
          {
            // <a class="w-full sm:w-auto" href="/typegpu/examples"
            //   ><button
            //     class="py-4 px-6 md:py-5 md:px-7 lg:py-6 lg:px-8 rounded-[6.25rem] bg-gradient-to-br bg-white text-grayscale-100 w-full"
            //     >Explore live examples</button
            //   ></a
            // >
          }
        </div>
      </div>

      <div
        class="md:absolute overflow-hidden bg-grayscale-0 lg:max-w-[85rem] md:max-w-[58.5rem] lg:p-14 md:p-10 p-6 md:rounded-[3.75rem] lg:rounded-[5rem] rounded-[2rem] relative md:top-[100%] md:-translate-y-[50%] max-w-[34.5rem] sm:mb-[2.5rem]">
        <video
          src="/typegpu/assets/migration.mp4"
          autoplay="true"
          loop="true"
          muted="true"
          controls="true"
          class="lg:rounded-[2.5rem] md:rounded-[1.875rem] rounded-2xl shadow-tameplum-800/50 shadow-lg"></video>
      </div>
    </section>

    <div class="lg:h-[16rem] md:h-[13rem] md:block hidden"></div>

    <section
      class="flex flex-col justify-center px-4 lg:gap-20 gap-10 md:gap-[3.75rem] lg:max-w-[85rem] md:max-w-[53.5rem] max-w-[34.5rem]">
      <div>
        <h2 class="mb-4 font-normal text-center md:mb-8 lg:mb-8 center">
          Get to know TypeGPU
        </h2>
        <p class="text-center text-pretty">
          Discover how it can change the way you work with GPU rendering and
          computing.
        </p>
      </div>

      <div
        class="grid max-w-6xl grid-flow-row gap-4 md:gap-6 lg:gap-8 md:grid-cols-2 md:mb-20">
        <FeatureCard image="task-check" header="Easily encode and decode"
          >Leveraging "typed-binary" ensures you don't have to think about bytes
          when writing your GPU programs ever again.</FeatureCard
        >
        <FeatureCard
          image="grid-mixed"
          header="Compose data types"
          class="md:translate-y-20"
          >Complex data types like structs and arrays can be easily described,
          and TypeScript automatically validates outgoing and incoming data.</FeatureCard
        >
        <FeatureCard image="atom" header="Run it on React Native"
          >Works smoothly on React Native thanks to the recently announced
          "react-native-wgpu" library.</FeatureCard
        >

        <article
          class="flex justify-center items-center lg:h-[28rem] md:h-[22rem] h-[12.5rem] md:p-10 lg:p-14 p-6 bg-grayscale-0 md:rounded-[3.75rem] lg:rounded-[5rem] rounded-[2rem] opacity-50 md:translate-y-20"
          ,>
          <h3 class="text-grayscale-80">More coming soon...</h3>
        </article>
      </div>
    </section>

    <section
      class="flex flex-col items-center px-4 py-5 lg:gap-20 md:gap-[3.75rem] gap-10 w-full max-w-[34.5rem] lg:max-w-[85rem]">
      <div>
        <h1 class="mb-4 font-normal text-center lg:mb-8 md:mb-6">
          Got hooked?
        </h1>
        <p class="text-center text-pretty">
          Try TypeGPU and reshape your GPU rendering and computing.
        </p>
      </div>

      <GetStartedButton />

      <img
        class="hidden md:block lg:w-[56rem] w-[38.5rem]"
        src="/typegpu/assets/illustration.svg"
        alt=""
      />
    </section>

    <section></section>
  </main>

  <footer class="text-micro bg-tameplum-50">
    <div
      class="grid place-items-center gap-20 bg-grayscale-0 self-stretch md:rounded-t-[5rem] rounded-t-[2.5rem] px-4 pt-10 pb-10 md:pb-0 md:pt-20">
      <div
        class="flex flex-col items-center lg:gap-20 gap-10 lg:max-w-[85rem] md:max-w-[58.5rem] w-full max-w-[34.5rem]">
        <div class="w-full">
          <img
            src="/typegpu/typegpu-logomark-monolight.svg"
            alt="logo"
            class="w-8 pb-6"
          />
          <div
            class="flex flex-col justify-between gap-10 md:flex-row text-grayscale-80">
            <div class="text-pretty md:max-w-[23.5rem] lg:max-w-[27rem]">
              <span class="font-medium">TypeGPU</span>
              <span class="text-grayscale-100">&mdash;</span> TypeScript library
              that enhances the WebGPU API, allowing resource management in a type-safe,
              declarative way.
            </div>

            <div class="grid gap-6 md:w-[24rem] lg:w-[27rem]">
              <FooterLink
                label="Made by Software Mansion"
                callToAction="Learn more about us"
                href="https://swmansion.com"
              />

              <FooterLink
                label="Check what's underneath"
                callToAction="Open Github repository"
                href="https://github.com/software-mansion/TypeGPU"
              />

              <FooterLink
                label="Share feedback with us"
                callToAction="Join our Discord server"
                href="https://discord.swmansion.com"
              />
            </div>
          </div>
        </div>

        <div class="flex items-center self-start gap-4 text-grayscale-100">
          <img src={SwmLogomarkSvg.src} alt="Software Mansion Logomark" />
          &copy; 2024 Software Mansion S.A.
        </div>

        <div class="hidden md:grid">
          <div
            class="col-start-1 row-start-1 z-10 bg-gradient-to-b from-[#FFF0] to-[#FFF]">
          </div>
          <img
            class="col-start-1 row-start-1"
            src="/typegpu/assets/giant-typegpu.svg"
          />
        </div>
      </div>
    </div>
  </footer>
</PageLayout>
