---

---

<div class="gap-6 grid grid-cols-3 p-8 border-2 border-accent-600/30">
  <div
    class="flex flex-col justify-center items-center bg-gray-100 p-6 rounded"
  >
    <div>Imperative code</div>
    <div>Need something?</div>
  </div>

  <div
    class="flex flex-col justify-center items-center bg-gray-100 p-6 rounded"
  >
    <div>Pipelines</div>
  </div>

  <div
    class="flex flex-col justify-center items-center bg-gray-100 p-6 rounded"
  >
    <div>Data Structures</div>
    <div>Linker</div>
    <div>Bind Groups</div>
    <div>Functions</div>
  </div>
</div>
