---
import { Image } from 'astro:assets';
import as_a_foundation from '../assets/hero/as_a_foundation.svg';
import as_a_puzzle_piece from '../assets/hero/as_a_puzzle_piece.svg';
import for_libraries from '../assets/hero/for_libraries.svg';
---

<div class="grid grid-cols-1 gap-8 md:grid-cols-3">
  <!-- Backlog Column -->
  <div class="bg-accent-100/40 p-5 dark:bg-[#30354A]">
    <div class="mb-6 flex items-center justify-between">
      <h2 class="text-lg font-bold text-blue-950 dark:text-white">Backlog</h2>
      <div
        class="flex h-8 w-8 items-center justify-center bg-white shadow-sm dark:bg-[#272B3C]"
      >
        <Image
          src={for_libraries}
          alt="For libraries icon"
          class="h-5 w-5 fill-black"
        />
      </div>
    </div>

    <div class="space-y-4">
      <div class="bg-white p-4 shadow-sm dark:bg-[#272B3C]">
        <h3 class="text-blue-950 dark:text-white">Imperative code</h3>
        <p class="mt-1 text-sm text-slate-500 dark:text-white">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
      </div>
      <div class="border-accent-300/80 border-2 p-4">
        <h3 class="text-blue-950 dark:text-white">Need something?</h3>
        <p class="mt-1 text-sm text-slate-500 dark:text-white">
          Let us know about your improvement ideas, maybe they will land here!
        </p>
      </div>
    </div>
  </div>

  <!-- In Progress Column -->
  <div class="bg-accent-100/40 p-5 dark:bg-[#30354A]">
    <div class="mb-6 flex items-center justify-between">
      <h2 class="text-lg text-blue-950 dark:text-white">In progress</h2>
      <div
        class="flex h-8 w-8 items-center justify-center bg-white shadow-sm dark:bg-[#272B3C]"
      >
        <Image
          src={as_a_puzzle_piece}
          alt="As a puzzle piece icon"
          class="h-5 w-5 fill-black"
        />
      </div>
    </div>

    <div class="space-y-4">
      <div class="bg-white p-4 shadow-sm dark:bg-[#272B3C]">
        <h3 class="text-blue-950 dark:text-white">Pipelines</h3>
        <p class="mt-1 text-sm text-slate-500 dark:text-white">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
        <div class="mt-4">
          <span class="text-xs font-medium text-slate-500 dark:text-white"
            >Planned for late 2025</span
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Shipped Column -->
  <div class="bg-accent-100/40 p-5 dark:bg-[#30354A]">
    <div class="mb-6 flex items-center justify-between">
      <h2 class="text-lg text-blue-950 dark:text-white">Shipped</h2>
      <div
        class="flex h-8 w-8 items-center justify-center shadow-sm dark:bg-[#272B3C]"
      >
        <Image
          src={as_a_foundation}
          alt="As a foundation icon"
          class="h-5 w-5 fill-black"
        />
      </div>
    </div>
    <div class="space-y-4">
      <div class="bg-white p-4 shadow-sm dark:bg-[#272B3C]">
        <h3 class="text-blue-950 dark:text-white">Data structures & buffers</h3>
        <p class="mt-1 text-sm text-slate-500 dark:text-white">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
        <div class="mt-4 flex items-center justify-between">
          <span class="text-xs text-slate-500 dark:text-white">May 2024</span>
          <span
            class="bg-slate-100 px-2 py-1 text-xs font-semibold text-slate-600"
            >v0.1</span
          >
        </div>
      </div>

      <div class="bg-white p-4 shadow-sm dark:bg-[#272B3C]">
        <h3 class="text-blue-950 dark:text-white">Bind groups</h3>
        <p class="mt-1 text-sm text-slate-500 dark:text-white">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
        <div class="mt-4 flex items-center justify-between">
          <span class="text-xs text-slate-500 dark:text-white">Oct 2024</span>
          <span
            class="bg-slate-100 px-2 py-1 text-xs font-semibold text-slate-600"
            >v0.2</span
          >
        </div>
      </div>

      <div class="bg-white p-4 shadow-sm dark:bg-[#272B3C]">
        <h3 class="text-blue-950 dark:text-white">Linker</h3>
        <p class="mt-1 text-sm text-slate-500 dark:text-white">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
        <div class="mt-4 flex items-center justify-between">
          <span class="text-xs text-slate-500 dark:text-white">Feb 2025</span>
          <span
            class="bg-slate-100 px-2 py-1 text-xs font-semibold text-slate-600"
            >v0.3</span
          >
        </div>
      </div>

      <div class="bg-white p-4 shadow-sm dark:bg-[#272B3C]">
        <h3 class="text-blue-950 dark:text-white">Functions</h3>
        <p class="mt-1 text-sm text-slate-500 dark:text-white">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
        <div class="mt-4 flex items-center justify-between">
          <span class="text-xs text-slate-500 dark:text-white">Feb 2025</span>
          <span
            class="bg-slate-100 px-2 py-1 text-xs font-semibold text-slate-600"
            >v0.3</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
