---
import { Image } from "astro:assets";
import as_a_foundation from "../assets/hero/as_a_foundation.svg";
import as_a_puzzle_piece from "../assets/hero/as_a_puzzle_piece.svg";
import for_libraries from "../assets/hero/for_libraries.svg";
---

<div class="gap-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-8">
  <!-- Backlog Column -->
  <div class="p-5 bg-accent-100/40 dark:bg-[#30354A]">
    <div class="flex justify-between items-center mb-6">
      <h2 class="font-bold text-blue-950 dark:text-white text-lg">Backlog</h2>
      <div
        class="flex justify-center items-center bg-white dark:bg-[#272B3C] shadow-sm w-8 h-8"
      >
        <Image
          src={for_libraries}
          alt="For libraries icon"
          class="w-5 h-5 text-slate-500 dark:text-white"
        />
      </div>
    </div>

    <div class="space-y-4">
      <div class="bg-white dark:bg-[#272B3C] shadow-sm p-4">
        <h3 class="text-blue-950 dark:text-white">Imperative code</h3>
        <p class="mt-1 text-slate-500 dark:text-white text-sm">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
      </div>
      <div class="p-4 border-2 border-accent-300/80">
        <h3 class="text-blue-950 dark:text-white">Need something?</h3>
        <p class="mt-1 text-slate-500 dark:text-white text-sm">
          Let us know about your improvement ideas, maybe they will land here!
        </p>
      </div>
    </div>
  </div>

  <!-- In Progress Column -->
  <div class="p-5 bg-accent-100/40 dark:bg-[#30354A]">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-blue-950 dark:text-white text-lg">In progress</h2>
      <div
        class="flex justify-center items-center bg-white dark:bg-[#272B3C] shadow-sm w-8 h-8"
      >
        <Image
          src={as_a_puzzle_piece}
          alt="As a puzzle piece icon"
          class="w-5 h-5 text-slate-500 dark:text-white"
        />
      </div>
    </div>

    <div class="space-y-4">
      <div class="bg-white dark:bg-[#272B3C] shadow-sm p-4">
        <h3 class="text-blue-950 dark:text-white">Pipelines</h3>
        <p class="mt-1 text-slate-500 dark:text-white text-sm">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
        <div class="mt-4">
          <span class="font-medium text-slate-500 dark:text-white text-xs"
            >Planned for late 2025</span
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Shipped Column -->
  <div class="p-5 bg-accent-100/40 dark:bg-[#30354A]">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-blue-950 dark:text-white text-lg">Shipped</h2>
      <div
        class="flex justify-center items-center dark:bg-[#272B3C] shadow-sm w-8 h-8"
      >
        <Image
          src={as_a_foundation}
          alt="As a foundation icon"
          class="w-5 h-5"
        />
      </div>
    </div>
    <div class="space-y-4">
      <div class="bg-white dark:bg-[#272B3C] shadow-sm p-4">
        <h3 class="text-blue-950 dark:text-white">Data structures & buffers</h3>
        <p class="mt-1 text-slate-500 dark:text-white text-sm">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
        <div class="flex justify-between items-center mt-4">
          <span class="text-slate-500 dark:text-white text-xs">May 2024</span>
          <span
            class="bg-slate-100 px-2 py-1 font-semibold text-slate-600 text-xs"
            >v0.1</span
          >
        </div>
      </div>

      <div class="bg-white dark:bg-[#272B3C] shadow-sm p-4">
        <h3 class="text-blue-950 dark:text-white">Bind groups</h3>
        <p class="mt-1 text-slate-500 dark:text-white text-sm">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
        <div class="flex justify-between items-center mt-4">
          <span class="text-slate-500 dark:text-white text-xs">Oct 2024</span>
          <span
            class="bg-slate-100 px-2 py-1 font-semibold text-slate-600 text-xs"
            >v0.2</span
          >
        </div>
      </div>

      <div class="bg-white dark:bg-[#272B3C] shadow-sm p-4">
        <h3 class="text-blue-950 dark:text-white">Linker</h3>
        <p class="mt-1 text-slate-500 dark:text-white text-sm">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
        <div class="flex justify-between items-center mt-4">
          <span class="text-slate-500 dark:text-white text-xs">Feb 2025</span>
          <span
            class="bg-slate-100 px-2 py-1 font-semibold text-slate-600 text-xs"
            >v0.3</span
          >
        </div>
      </div>

      <div class="bg-white dark:bg-[#272B3C] shadow-sm p-4">
        <h3 class="text-blue-950 dark:text-white">Functions</h3>
        <p class="mt-1 text-slate-500 dark:text-white text-sm">
          Perform multiple background tasks at the same time and improve the
          every...
        </p>
        <div class="flex justify-between items-center mt-4">
          <span class="text-slate-500 dark:text-white text-xs">Feb 2025</span>
          <span
            class="bg-slate-100 px-2 py-1 font-semibold text-slate-600 text-xs"
            >v0.3</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
