---
interface Props {
  title: string;
  message: string;
  icon: ((_props: astroHTML.JSX.SVGAttributes) => any) & ImageMetadata;
}

const { title, message, icon } = Astro.props as Props;
---

<div
  class="flex flex-col items-start p-8 border-2 border-accent-600/30 max-w-sm bg-accent-50"
>
<!-- this is shit -->
  <div class="flex justify-center items-center mb-6 w-16 h-16 bg-accent-600">
    {icon && <img src={icon.src} alt="Icon" class="w-8 h-8" />}
  </div>

  <h3 class="mb-4 font-semibold text-gray-800 text-2xl">
    {title}
  </h3>

  <p class="text-gray-600 text-lg leading-relaxed">
    {message}
  </p>
</div>
