---
const { image, header, class: className } = Astro.props;
const content = await Astro.slots.render('default');
---

<article
  class:list={[
    'flex flex-col gap-8 justify-between lg:h-[28rem] md:p-10 lg:p-14 p-6 bg-white md:rounded-[3.75rem] lg:rounded-[5rem] rounded-[2rem]',
    className,
  ]}>
  <div
    class="self-start p-3 border-2 border-special-stroke lg:rounded-3xl md:rounded-2xl rounded-xl">
    <img class="w-8 md:w-12" src={`/TypeGPU/assets/${image}.svg`} alt={image} />
  </div>
  <div>
    <h3 class="pb-3 font-normal md:pb-4 text-grayscale-100">
      {header}
    </h3>
    <p class="text-grayscale-80">{content}</p>
  </div>
</article>
