---
const { status = true } = Astro.props;
const content = await Astro.slots.render('default');

const styles = {
  statusColor: status ? 'dark:before:bg-green-900 before:bg-green-300' : 'dark:before:bg-red-900 before:bg-red-300',
  borderColor: status ? 'before:border-green-600' : 'before:border-red-600',
  contentColor: status ? 'before:text-green-600' : 'before:text-red-600',
  plusOrMinus: status ? 'before:content-["+"]' : 'before:content-["-"]'
};
---

<div class:list={[
  "inline-block before:block before:border-l-2 before:pl-1 dark:before:mix-blend-lighten before:mix-blend-multiply",
  "before:flex before:items-center",
  "before:absolute before:left-0 before:right-0 before:h-[24.75px]",
  styles.statusColor,
  styles.contentColor,
  styles.borderColor,
  styles.plusOrMinus,
]}>
    <span set:html={content} />
</div>
