---
const { label, callToAction, href } = Astro.props;
---

<div class="flex justify-between">
  <p class="text-micro m-0">{label}</p>
  <a
    href={href}
    target="_blank"
    rel="noreferrer"
    class="text-inherit underline"
  >
    {callToAction}
  </a>
</div>
