---
const { label, callToAction, href } = Astro.props;
---

<div class="flex justify-between">
  <p class="m-0 text-micro">{label}</p>
  <a
    href={href}
    target="_blank"
    rel="noreferrer"
    class="text-inherit underline">
    {callToAction}
  </a>
</div>
