<a class="w-full sm:w-auto" href="/TypeGPU/guides/getting-started">
  <button
    class="flex justify-center items-center gap-3 py-4 px-6 md:py-5 md:px-7 lg:px-8 lg:py-6 rounded-[6.25rem] bg-gradient-to-br from-gradient-purple to-gradient-blue text-grayscale-0 w-full hover:from-gradient-purple-dark hover:to-gradient-blue-dark">
    <p>Get started</p>
    <svg
      class="w-6 md:w-[1.875rem] lg:w-9"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 30 30"
      fill="none">
      <path
        d="M25 15L5 15M25 15L17.5 22.5M25 15L17.5 7.5"
        stroke="white"
        stroke-width="2"
        stroke-linecap="square"
        stroke-linejoin="round"></path>
    </svg>
  </button>
</a>
