<a
  class="box-border flex justify-center items-center w-full gap-3 py-4 px-6 md:py-5 md:px-7 lg:px-8 lg:py-6 rounded-[6.25rem] bg-gradient-to-tl bg-[length:200%] from-gradient-purple via-gradient-blue to-[#f8f9e3] text-grayscale-0 transition-all duration-200 ease-out ring-gradient-blue ring-2 ring-offset-[-2px] hover:ring-offset-2 bg-[100%_0%] hover:bg-center text-base md:text-xl lg:text-2xl no-underline sm:w-auto"
  href="/TypeGPU/guides/getting-started">
  Get started
  <svg
    class="w-6 md:w-[1.875rem] lg:w-9"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 30 30"
    fill="none">
    <path
      d="M25 15L5 15M25 15L17.5 22.5M25 15L17.5 7.5"
      stroke="white"
      stroke-width="2"
      stroke-linecap="square"
      stroke-linejoin="round"></path>
  </svg>
</a>
