---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<span
  class:list={[
    "inline-block font-bold",
    "bg-gradient-to-l from-gradient-blue to-gradient-purple bg-position-[100%_100%] hover:bg-position-[50%_50%]",
    "bg-clip-text text-transparent",
    "bg-[length:200%_auto] animate-gradient",
  ]}
>
  {title}
</span>

<style>
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    animation: gradient 8s ease infinite;
  }
</style>
