---
const { title } = Astro.props;
---

<li
  class:list={[
    'group relative sm:odd:ml-40 sm:even:pr-40 md:odd:ml-44 md:even:pr-44 lg:odd:ml-52 lg:even:pr-52 marker:content-[""]',
  ]}>
  <article>
    <h3>{title}</h3>
    <p class="text-micro min-h-32">
      <slot />
    </p>
  </article>
  <div
    class="absolute hidden sm:block group-odd:-left-40 md:group-odd:-left-44 lg:group-odd:-left-52 group-even:right-0 top-0 w-32 h-32 md:w-36 md:h-36 lg:w-44 lg:h-44 bg-slate-300">
  </div>
</li>
