name: CI

on:
  push:
    branches: [main, release]
  pull_request:
  workflow_dispatch:
  merge_group:
    types:
      - checks_requested

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.4.3

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Test
        run: pnpm test
      - name: Build docs
        run: cd apps/typegpu-docs && pnpm build
